
<%= form_tag '/search', :method => 'get' do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], placeholder: "キーワード検索", class: "form-control" %>
    <span class="input-group-btn">
        <%= button_tag "検索", name: nil, class: "btn btn-primary" %>
    </span>
  </div>
<% end %>
